# Ignore all files and directories by default
*

# Allow specific files and directories
!~/.config/nvim/*
!~/.config/nvim-vimscript/*
!~/.config/regolith/*
!~/bin/.local/scripts/*
!~/.vim/
!/etc/regolith/i3/*
!Dotfiles.code-workspace
!settings (work copy).json
!settings.json
!README.md
!~/.gitconfig
!~/.tmux.conf
!~/.zshrc
!~/helper.py
!~/recatest/*
!sqldev/.sqldeveloper/system23*
!sqldev/.sqldeveloper/SqlHistory/*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log
# Dependency directories
node_modules/
# Environment variables
.env
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific
.DS_Store

__pycache__

# Task files
# tasks.json
# tasks/

# OAuth credentials and sensitive files
AI-tools/.gemini/oauth_creds.json 
